CLOUDINARY_NAME=<YOUR_CLOUDINARY_NAME>
CLOUDINARY_API_KEY=<YOUR_CLOUDINARY_API>
CLOUDINARY_API_SECRET=<YOUR_CLOUDINARY_API_SECRET>
MONGODB_URI=<YOUR_MONGODB-URI>
JWT_SECRET=<YOUR_JWT_SECRET>
EMAIL_USER=<YOUR_EMAIL_ID>
EMAIL_PASS=<YOUR_EMAIL_APP_PASSWORD>
EMAIL_SERVICE= "gmail"
FRONTEND_URL=<FRONTEND_URL> 